### all ignore for white list ###
/*
/.**

### white list ###

### config ###
!/.config
!/.config/**

### github ###
!/.github
!/.github/**

### global ###
!/install.sh
!/install_scripts/
!/install_scripts/**
!.gitignore
!.gitkeep
!/LICENSE
!/README.md
