### all ignore for white list ###
/*
/.**

### white list ###

### config ###
!/.config
!/.config/**

### github ###
!/.github
!/.github/**

### global ###
!/install.sh
!/scripts/
!/scripts/**
!.gitignore
!.gitkeep
!/LICENSE
!/README.md
